.idea/
venv/
*.0
*.1
cogs/__pycache__/
data/stats.json
data/prefixes.json
cogs/test.py
cogs/seed.py
data/skyshit24.py
*.pyc
*.ttf
cogs/TopGG.py
cogs/botserver.py
data/config.py
cogs/LOG_DB.py
cogs/RTFM_API.py
